PORT=3001
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_CONSUMERS_ENABLED=true
RESTATE_INGRESS_URL=http://localhost:9070
RESTATE_REGISTER_HANDLERS=true
RESTATE_HANDLER_PORT=9084
INVENTORY_URL=http://localhost:8082
PAYMENT_URL=http://localhost:8081
NOTIFICATION_URL=http://localhost:3002
